<div class="rolunk-container">
  <app-header></app-header>

  <section class="rolunk">
    <div class="rolunk-szoveg">
      <h1>Rólunk</h1>
      <p>
        A Harvest Heaven egy érdekes ötlet volt. Azon tűnődtünk, hogy mi legyen a projektünk témája. Hosszas gondolkozás után arra jutottunk, 
        hogy alkotunk egy webportált, ahol a zöldárúval és ennek termelésével vagy Importálásával foglalkozó gazdák és vállalkozók egyszerűbben 
        vásárlókra találhatnak, a vásárló kis- és nagykereskedők pedig egyszerűbben megtalálják az általuk keresett és forgalmazni kívánt 
        terméket. 
      </p>
      <p>
        Ehhez az ötlethez inspirációt adott, hogy mindkettőnk szülei a zöldárú forgalmazási kategóriában tevékenykednek. Ennek
         apropójában a saját problémánkra alkottunk egy megoldást, amit nem szerettünk volna magunkban tartani, ezáltal segítve
          a velünk egy kategóriában helyet foglaló cégek áruinak beszerzését, eladását, ezzel felgyorsítva a kereskedelmet. Az 
          oldalunk kizárólag adószámmal rendelkező cégek vásárolhatnak, akik ebben az iparban foglalnak tevékenységi helyet.

      </p>
    </div>
    <div class="rolunk-kep">
      <img src="hero-bg-3.jpg" alt="rolunk Image"/>
    </div>
  </section>

  <section class="csapat-section">
    <h2>Csapatunk</h2>
    <div class="csapat">
      <div class="csapat-member">
        <img src="tibi.jpg" alt="csapat Member 1"/>
        <h3>Havrán Tibor</h3>
        <p>Frontend kivitelezője</p>
      </div>
      <div class="csapat-member">
        <img src="bence.jpg" alt="csapat Member 2"/>
        <h3>Szurdok Bence</h3>
        <p>Backend/adatbázis kivitelezője</p>
      </div>


    </div>
  </section>

  <section class="leiras-section">
    <h2>Küldetésünk</h2>
    <p>
      Küldetésünk, hogy folyamatosan javítsuk a friss zöldségek és gyümölcsök elérhetőségét, miközben
      figyelünk a fenntarthatóságra és a környezetünkre. Minden egyes termékünket úgy választjuk ki,
      hogy az megfeleljen a legszigorúbb minőségi előírásoknak, és támogassuk az egészséges életmódot.
    </p>
  </section>

  <section class="kapcsolat-section">
    <h2>Kapcsolatfelvétel</h2>
    <p>
      Ha bárminemű kérdése van, ne habozzon kapcsolatba lépni velünk!
    </p>
    <ul>
      <li></li>
      <li>Telefon</li>
      <li> +36 70 218 2111</li>
      <li> +36 70 643 5511</li>
      <li>Email</li>
      <li>szurdok.bence&#64;szikszi-ozd.hu</li>
      <li>havran.tibor&#64;szikszi-ozd.hu</li>

    </ul>
  </section>

  <app-footer></app-footer>
</div>
