<app-header></app-header>
<div class="hatter">
<div class="login-page">
  <div class="form">
    <form (submit)="login()" class="login-form">
      <h2>Bejelentkezés</h2>
      <input type="text" name="nev" placeholder="Név" [(ngModel)]="user.nev" required />
      <input type="password" name="jelszo" placeholder="Jelszó" [(ngModel)]="user.jelszo" required />
      <button type="submit">Bejelentkezés</button>
      <p class="message">Még nem regisztrált?</p>
      <p class="message"><a [routerLink]="['/register']">Regisztráljon egy új fiókot erre kattintva!</a></p>
    </form>
  </div>
</div>
<app-footer></app-footer>
</div>
