<!-- <header class="header">
    <div class="logo">Harvest Heaven</div>
    <ul class="nav-links">
      <li><a routerLink="/">Kezdőlap</a></li>
      <li><a routerLink="/shop">Vásárlás</a></li>
      <li><a routerLink="/about">Rólunk</a></li>
      <li><a routerLink="/cart">Kosár</a></li>
      <li><a routerLink="/login">Bejelentkezés</a></li>
      <li><a routerLink="/register">Regisztráció</a></li>
      <i class="fa fa-bars"></i>

    </ul>
  </header> -->


<header class="header">
  <div class="logo">Harvest Heaven</div>
  <ul class="nav-links">
    <li><a routerLink="/">Kezdőlap</a></li>
    <li><a routerLink="/shop">Vásárlás</a></li>
    <li><a routerLink="/about">Rólunk</a></li>
    <li><a routerLink="/cart">Kosár</a></li>
    <li><a routerLink="/login">Bejelentkezés</a></li>
    <li><a routerLink="/register">Regisztráció</a></li>

  </ul>
</header>

          